rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /activities/{activityId} {
        allow read, delete: if request.auth != null && request.auth.uid == userId;
        allow create, update: if false; // Only backend API can create or update activities securely
      }
      
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
